QA Orchestrator Pipeline.json
{
  "name": "QA Orchestrator Pipeline",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "story-field",
              "name": "story",
              "value": "=Title: {{ $json['Story title'] }}\nDescription: {{ $json['Story description'] }}\nAcceptance criteria:\n{{ $json['Acceptance criteria'] }}\nTech stack: {{ $json['Tech stack'] || 'Not specified' }}\nPriority: {{ $json['Priority'] }}",
              "type": "string"
            },
            {
              "id": "run-id-field",
              "name": "run_id",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "start-time-field",
              "name": "pipeline_start_time",
              "value": "={{ Date.now() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "0233bef6-5698-4bfb-b77b-29ab4efd019a",
      "name": "Set Story Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4368,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "validator-start",
              "name": "validator_start_time",
              "value": "={{ Date.now() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "77f66983-d66e-4d6a-8b54-6a561440734c",
      "name": "Validator Start Time",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4144,
        416
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Validate this story:\n\n{{ $('Set Story Input').item.json.story }}"
            },
            {
              "content": "You are a QA story validator. Check if a story has enough information for QA agents to work with.\n\nA story PASSES if ALL of these are true:\n- Title is present and meaningful\n- Description has at least 10 words explaining what was built\n- At least 3 specific acceptance criteria are listed\n\nA story FAILS if ANY of these are true:\n- Title is missing or empty\n- Description is missing or has fewer than 10 words\n- Fewer than 3 acceptance criteria\n- Acceptance criteria are too vague\n\nBe strict — incomplete stories waste QA agent time.\n\nOutput strict JSON only — no markdown, no backticks:\n{\n  \"status\": \"PASS\" or \"FAIL\",\n  \"score\": 0-100,\n  \"missing_critical\": [\"list what is missing\"],\n  \"feedback_to_developer\": \"specific 2-3 sentence message explaining exactly what to fix\",\n  \"ready_for_qa\": true or false\n}\n\nNEVER output anything other than this JSON object.",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "maxTokens": 500
        }
      },
      "id": "9c109a9c-90cb-467d-b04b-57b7655dae96",
      "name": "Story Validator",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3920,
        416
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "HKiulmftJDeHMu9u",
          "name": "OpenAI account 3"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const storyData = $('Set Story Input').first().json;\nconst story = storyData.story || '';\n\n// Get form fields directly from the form trigger\nlet title = '';\nlet description = '';\nlet ac = '';\n\ntry {\n  const formData = $('On form submission').first().json;\n  title = formData['Story title'] || '';\n  description = formData['Story description'] || '';\n  ac = formData['Acceptance criteria'] || '';\n} catch(e) {\n  // fallback — parse from story string if form data not available\n  const lines = story.split('\\n');\n  title = lines[0].replace('Title: ', '').trim();\n  description = lines[1] ? lines[1].replace('Description: ', '').trim() : '';\n}\n\n// Hard validation checks — runs before calling AI\nconst titleWords = title.trim().split(/\\s+/).filter(w => w.length > 0).length;\nconst descWords = description.trim().split(/\\s+/).filter(w => w.length > 0).length;\nconst acLines = ac.trim().split('\\n').filter(l => l.trim().length > 3).length;\n\nif (titleWords === 0) {\n  return [{\n    json: {\n      validation_status: 'FAIL',\n      is_pass: false,\n      is_fail: true,\n      route: 'fail',\n      validator_feedback: 'Story title is missing. Please add a clear title describing what was built and resubmit.',\n      story: story,\n      run_id: storyData.run_id,\n      pipeline_start_time: storyData.pipeline_start_time\n    }\n  }];\n}\n\nif (descWords < 10) {\n  return [{\n    json: {\n      validation_status: 'FAIL',\n      is_pass: false,\n      is_fail: true,\n      route: 'fail',\n      validator_feedback: 'Description is too short or missing. Please write at least 2-3 sentences explaining what was built and why, then resubmit.',\n      story: story,\n      run_id: storyData.run_id,\n      pipeline_start_time: storyData.pipeline_start_time\n    }\n  }];\n}\n\nif (acLines < 3) {\n  return [{\n    json: {\n      validation_status: 'FAIL',\n      is_pass: false,\n      is_fail: true,\n      route: 'fail',\n      validator_feedback: 'At least 3 acceptance criteria are required. Please add specific testable criteria (one per line) and resubmit.',\n      story: story,\n      run_id: storyData.run_id,\n      pipeline_start_time: storyData.pipeline_start_time\n    }\n  }];\n}\n\n// Story passed hard checks — now read AI validator result\nconst content = $input.first().json.message.content;\n\nlet status;\nif (typeof content === 'string') {\n  status = JSON.parse(content).status;\n} else {\n  status = content.status;\n}\n\nstatus = String(status).trim().toUpperCase();\n\nconst isPASS = status === 'PASS';\n\nlet feedbackMessage = '';\ntry {\n  const parsed = typeof content === 'string' ? JSON.parse(content) : content;\n  feedbackMessage = parsed.feedback_to_developer || '';\n} catch(e) {\n  feedbackMessage = 'Please review your story and resubmit.';\n}\n\nreturn [{\n  json: {\n    validation_status: status,\n    is_pass: isPASS === true,\n    is_fail: isPASS !== true,\n    route: isPASS ? 'pass' : 'fail',\n    validator_feedback: feedbackMessage,\n    story: story,\n    run_id: storyData.run_id,\n    pipeline_start_time: storyData.pipeline_start_time\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3568,
        416
      ],
      "id": "ee5de906-6a08-4435-a8f5-11aa018c3509",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "bfe13029-779a-41ef-895c-11c15e5526c1",
              "leftValue": "={{ $json.is_pass }}",
              "rightValue": "PASS",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3344,
        416
      ],
      "id": "92466f7f-994a-4548-8d41-b4f6f9807729",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "priyanairslearn@gmail.com",
        "subject": "=❌ QA Pipeline Rejected — Story incomplete: {{ $json.story.split('\\n')[0].replace('Title: ', '') }}",
        "emailType": "text",
        "message": "=Your story has been rejected by the QA pipeline validator.\n\nStory: {{ $json.story.split('\\n')[0].replace('Title: ', '') }}\n\nReason:\n{{ $json.validator_feedback }}\n\nPlease fix the issues above and resubmit your story via the form.\n\nRun ID: {{ $json.run_id }}",
        "options": {}
      },
      "id": "94b8942b-583c-42af-863c-95c4a0036c34",
      "name": "FAIL Email to Developer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3120,
        592
      ],
      "webhookId": "03cacdc0-323c-4dd2-914d-18716b1a1464",
      "credentials": {
        "gmailOAuth2": {
          "id": "JbaZPdxQD2f0uPtW",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "orchestrator-start",
              "name": "orchestrator_start_time",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "story-orch",
              "name": "story",
              "value": "={{ $json.story }}",
              "type": "string"
            },
            {
              "id": "run-id-orch",
              "name": "run_id",
              "value": "={{ $json.run_id }}",
              "type": "string"
            },
            {
              "id": "pipeline-start-orch",
              "name": "pipeline_start_time",
              "value": "={{ $json.pipeline_start_time }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "d82ed2cb-7d21-4575-ac66-ea447b3303e5",
      "name": "Orchestrator Start Time",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2896,
        320
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyse this story and decide which QA agents to run:\n\n{{ $json.story }}"
            },
            {
              "content": "You are a QA Orchestrator. Read a software story and decide which specialist QA agents need to run.\n\nRules:\n- Always run the functional agent. Every story needs functional testing.\n- Run the automation agent if the story touches any UI, user flow, or API endpoint.\n- Run the security agent if the story touches login, payments, user data, permissions, or any external API.\n- Run the performance agent if the story mentions load, speed, scale, or high traffic.\n- Run the accessibility agent if the story touches any UI component, form, or page.\n\nOutput strict JSON only — no explanation, no markdown backticks:\n{\n  \"story_title\": \"exact title from the story\",\n  \"story_summary\": \"one sentence summary of what was built\",\n  \"tech_stack\": \"detected tech stack or unknown\",\n  \"agents_to_run\": [\"functional\", \"automation\", \"security\"],\n  \"reason\": \"brief reason for each agent selected\"\n}\n\nNEVER output anything other than this JSON object.",
              "role": "system"
            }
          ]
        },
        "options": {
          "maxTokens": 500
        }
      },
      "id": "2272d7e5-1963-4ee9-88c1-b074b982e2a4",
      "name": "Orchestrator Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2672,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "HKiulmftJDeHMu9u",
          "name": "OpenAI account 3"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "orchestrator-result",
              "name": "orchestrator_result",
              "value": "={{ JSON.parse($json.message.content) }}",
              "type": "object"
            },
            {
              "id": "story-after-orch",
              "name": "story",
              "value": "={{ $('Orchestrator Start Time').item.json.story }}",
              "type": "string"
            },
            {
              "id": "run-id-after-orch",
              "name": "run_id",
              "value": "={{ $('Orchestrator Start Time').item.json.run_id }}",
              "type": "string"
            },
            {
              "id": "pipeline-start-after-orch",
              "name": "pipeline_start_time",
              "value": "={{ $('Orchestrator Start Time').item.json.pipeline_start_time }}",
              "type": "number"
            },
            {
              "id": "orchestrator-metrics",
              "name": "orchestrator_metrics",
              "value": "={}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b8b562fb-6baa-47fb-91a6-b1190fc20179",
      "name": "Orchestrator Metrics",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "functional-start",
              "name": "functional_start_time",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "story-functional",
              "name": "story",
              "value": "={{ $json.story }}",
              "type": "string"
            },
            {
              "id": "run-id-functional",
              "name": "run_id",
              "value": "={{ $json.run_id }}",
              "type": "string"
            },
            {
              "id": "orchestrator-result-functional",
              "name": "orchestrator_result",
              "value": "={{ $json.orchestrator_result }}",
              "type": "object"
            },
            {
              "id": "pipeline-start-functional",
              "name": "pipeline_start_time",
              "value": "={{ $json.pipeline_start_time }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "e1faf368-52ce-414f-a7e3-112899ce5f15",
      "name": "Functional Start Time",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        32
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Generate functional test cases for this story:\n\n{{ $json.story }}\n\nTech stack: {{ $json.orchestrator_result.tech_stack }}"
            },
            {
              "content": "You are a senior QA engineer specialising in functional testing. \nRead the story and produce complete functional test cases.\n\nOutput format:\n## Functional Test Cases: [Story Title]\n\n### Happy path tests\nTC-F01 | [Test name] | [Given/When/Then steps] | [Expected result] | [P1/P2/P3]\n\n### Edge case tests\nTC-F10 | [Test name] | [Given/When/Then steps] | [Expected result] | [P1/P2/P3]\n\n### Negative tests\nTC-F20 | [Test name] | [Given/When/Then steps] | [Expected result] | [P1/P2/P3]\n\n### Out of scope\nList anything NOT being tested in this story.\n\nRules:\n- Minimum 5 happy path, 3 edge case, 3 negative tests\n- Use Given/When/Then format for steps\n- Every test has priority P1, P2, or P3\n- Test on Chrome, Safari, and mobile 375px\n- If web search unavailable continue with your own knowledge\n- Never delete, modify, or commit anything\n- Your only job is to produce text output for human review",
              "role": "system"
            }
          ]
        },
        "options": {
          "maxTokens": 2000
        }
      },
      "id": "0ac0783b-e90f-4b23-8bba-eb69fbf58694",
      "name": "Functional Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1872,
        32
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "HKiulmftJDeHMu9u",
          "name": "OpenAI account 3"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "functional-output",
              "name": "functional_output",
              "value": "={{ $json.message?.content || 'Functional agent failed to produce output' }}",
              "type": "string"
            },
            {
              "id": "story-after-functional",
              "name": "story",
              "value": "={{ $('Functional Start Time').item.json.story }}",
              "type": "string"
            },
            {
              "id": "run-id-after-functional",
              "name": "run_id",
              "value": "={{ $('Functional Start Time').item.json.run_id }}",
              "type": "string"
            },
            {
              "id": "orchestrator-after-functional",
              "name": "orchestrator_result",
              "value": "={{ $('Functional Start Time').item.json.orchestrator_result }}",
              "type": "object"
            },
            {
              "id": "pipeline-start-after-functional",
              "name": "pipeline_start_time",
              "value": "={{ $('Functional Start Time').item.json.pipeline_start_time }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "ea1c3750-2efe-405f-acb9-4739a1e291ed",
      "name": "Functional Metrics",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "automation-start",
              "name": "automation_start_time",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "story-automation",
              "name": "story",
              "value": "={{ $json.story }}",
              "type": "string"
            },
            {
              "id": "run-id-automation",
              "name": "run_id",
              "value": "={{ $json.run_id }}",
              "type": "string"
            },
            {
              "id": "orchestrator-result-automation",
              "name": "orchestrator_result",
              "value": "={{ $json.orchestrator_result }}",
              "type": "object"
            },
            {
              "id": "pipeline-start-automation",
              "name": "pipeline_start_time",
              "value": "={{ $json.pipeline_start_time }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "5cf261e8-06f0-481e-a025-24c07b4723c8",
      "name": "Automation Start Time",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        416
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Write Playwright automation scripts for this story:\n\n{{ $json.story }}\n\nTech stack: {{ $json.orchestrator_result.tech_stack }}"
            },
            {
              "content": "You are a senior test automation engineer. \nRead the story and write ready-to-run Playwright TypeScript test scripts.\n\nOutput format:\n## Automation Scripts: [Story Title]\n\n### Test file: [feature-name].spec.ts\n\nWrite complete, runnable Playwright TypeScript code.\n\nRules:\n- Use Playwright with TypeScript\n- Use page object model pattern\n- Each test must map to a functional test case ID e.g. TC-F01\n- Use data-testid selectors only — never CSS class selectors\n- Include beforeEach setup and afterEach teardown\n- Handle async properly with await\n- Group tests with describe blocks\n- Write the full file — no placeholders\n\n### Manual automation notes\nList any test cases that cannot be automated and why.\n\nIf web search unavailable continue with your own knowledge.\nNever delete, modify, or commit anything.\nYour only job is to produce text output for human review.",
              "role": "system"
            }
          ]
        },
        "options": {
          "maxTokens": 2000
        }
      },
      "id": "03afcecf-c963-4dee-9cb7-6b50806bbeff",
      "name": "Automation Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1872,
        416
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "HKiulmftJDeHMu9u",
          "name": "OpenAI account 3"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "automation-output",
              "name": "automation_output",
              "value": "={{ $json.message?.content || 'Automation agent failed to produce output' }}",
              "type": "string"
            },
            {
              "id": "story-after-automation",
              "name": "story",
              "value": "={{ $('Automation Start Time').item.json.story }}",
              "type": "string"
            },
            {
              "id": "run-id-after-automation",
              "name": "run_id",
              "value": "={{ $('Automation Start Time').item.json.run_id }}",
              "type": "string"
            },
            {
              "id": "orchestrator-after-automation",
              "name": "orchestrator_result",
              "value": "={{ $('Automation Start Time').item.json.orchestrator_result }}",
              "type": "object"
            },
            {
              "id": "pipeline-start-after-automation",
              "name": "pipeline_start_time",
              "value": "={{ $('Automation Start Time').item.json.pipeline_start_time }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "7276e662-e722-41d1-a5f4-4ace389e33ae",
      "name": "Automation Metrics",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        416
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "security-start",
              "name": "security_start_time",
              "value": "={{ Date.now() }}",
              "type": "number"
            },
            {
              "id": "story-security",
              "name": "story",
              "value": "={{ $json.story }}",
              "type": "string"
            },
            {
              "id": "run-id-security",
              "name": "run_id",
              "value": "={{ $json.run_id }}",
              "type": "string"
            },
            {
              "id": "orchestrator-result-security",
              "name": "orchestrator_result",
              "value": "={{ $json.orchestrator_result }}",
              "type": "object"
            },
            {
              "id": "pipeline-start-security",
              "name": "pipeline_start_time",
              "value": "={{ $json.pipeline_start_time }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "12e37a37-3050-4e37-b6a9-fee0efc8b8ca",
      "name": "Security Start Time",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        224
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Produce a security assessment for this story:\n\n{{ $json.story }}\n\nTech stack: {{ $json.orchestrator_result.tech_stack }}"
            },
            {
              "content": "You are a senior application security engineer.\nRead the story and produce a security risk assessment and test checklist.\n\nOutput format:\n## Security Assessment: [Story Title]\n\n### Risk level\nOverall risk: LOW / MEDIUM / HIGH / CRITICAL\nReason: one sentence explanation\n\n### OWASP threats relevant to this story\n[OWASP ID] | [Threat name] | [How it applies to this story]\n\n### Security test checklist\nSC-01 | [Test name] | [What to check] | [Pass condition] | MANUAL or AUTOMATED\n\nCover:\n- Authentication and authorisation\n- Input validation and injection risks\n- Sensitive data exposure\n- API security\n- Session management\n\n### Recommended mitigations\nFor each identified risk list the recommended fix.\n\n### Out of scope\nSecurity concerns not relevant to this specific story.\n\nRules:\n- Follow OWASP Top 10 2021\n- Be specific to this story — no generic security advice\n- Reference actual endpoints and fields from the story\n- Mark each checklist item as MANUAL or AUTOMATED\n- If web search unavailable continue with your own knowledge\n- Never delete, modify, or commit anything\n- Your only job is to produce text output for human review",
              "role": "system"
            }
          ]
        },
        "options": {
          "maxTokens": 2000
        }
      },
      "id": "c6dd6b68-115b-4b51-9b43-348c503bcc2a",
      "name": "Security Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1872,
        224
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "HKiulmftJDeHMu9u",
          "name": "OpenAI account 3"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "security-output",
              "name": "security_output",
              "value": "={{ $json.message?.content || 'Security agent failed to produce output' }}",
              "type": "string"
            },
            {
              "id": "story-after-security",
              "name": "story",
              "value": "={{ $('Security Start Time').item.json.story }}",
              "type": "string"
            },
            {
              "id": "run-id-after-security",
              "name": "run_id",
              "value": "={{ $('Security Start Time').item.json.run_id }}",
              "type": "string"
            },
            {
              "id": "orchestrator-after-security",
              "name": "orchestrator_result",
              "value": "={{ $('Security Start Time').item.json.orchestrator_result }}",
              "type": "object"
            },
            {
              "id": "pipeline-start-after-security",
              "name": "pipeline_start_time",
              "value": "={{ $('Security Start Time').item.json.pipeline_start_time }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "ddfbcaa6-964b-4dc9-ac6a-cb60bb5391df",
      "name": "Security Metrics",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        224
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "b16e3d7f-abd8-406a-a699-60b5c1e35f6c",
      "name": "Merge Agent Outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1296,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "consolidator-start",
              "name": "consolidator_start_time",
              "value": "={{ Date.now() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "9f4cf497-a3ad-48e0-a21c-ed5413216122",
      "name": "Consolidator Start Time",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        224
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Consolidate these QA agent outputs into one report:\n\nFUNCTIONAL AGENT OUTPUT:\n{{ $('Functional Metrics').item.json.functional_output }}\n\nAUTOMATION AGENT OUTPUT:\n{{ $('Automation Metrics').item.json.automation_output }}\n\nSECURITY AGENT OUTPUT:\n{{ $('Security Metrics').item.json.security_output }}"
            },
            {
              "content": "You are a QA lead. Consolidate outputs from specialist QA agents into one clean professional QA report.\n\nOutput format:\n\n# QA Report: [Story Title]\nDate: [today's date]\nPrepared by: QA Orchestrator Pipeline\n\n## Executive summary\n2-3 sentences. What was tested, overall risk level, go/no-go recommendation.\n\n## Go / No-Go recommendation\nGO ✓ or NO-GO ✗\nReason: one sentence\n\n## Test coverage summary\n| Agent | Output | Risk level | Status |\n|---|---|---|---|\n\n## Critical findings (P1 blockers)\nList any P1 issues that must be fixed before release.\nIf none write: None found.\n\n## All test cases\nCombined and deduplicated from all agents.\nOrder: Functional → Automation → Security\n\n## Recommended test execution order\nWhat to run first, second, third and why.\n\n## Out of scope\nWhat was explicitly not tested in this cycle.\n\nRules:\n- Remove duplicates across agents\n- Escalate HIGH or CRITICAL findings to the top\n- Keep tone professional — report goes to engineering manager\n- If any agent found a blocker recommendation must be NO-GO\n- If an agent failed to produce output note it clearly\n- Never delete, modify, or commit anything\n- Your only job is to produce text output for human review",
              "role": "system"
            }
          ]
        },
        "options": {
          "maxTokens": 3000
        }
      },
      "id": "120f8a82-7617-4fec-ab6e-625c382815b3",
      "name": "Consolidator Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -848,
        224
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "HKiulmftJDeHMu9u",
          "name": "OpenAI account 3"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final-report",
              "name": "qa_report",
              "value": "={{ $json.message?.content || 'Consolidator failed to produce report' }}",
              "type": "string"
            },
            {
              "id": "total-duration",
              "name": "total_duration_ms",
              "value": "={{ Date.now() - $('Set Story Input').item.json.pipeline_start_time }}",
              "type": "number"
            },
            {
              "id": "run-id-final",
              "name": "run_id",
              "value": "={{ $('Set Story Input').item.json.run_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "453239df-8885-4259-8bcf-61355d98967a",
      "name": "Consolidator Metrics",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        224
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OtgKd3duL1Qdh1IEV9zTRcVOGIDhXny75Z4DtcMaaaI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Reports",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Run ID": "={{ $json.run_id }}",
            "Timestamp": "={{ $now.toISO() }}",
            "Story": "={{ $('Set Story Input').item.json.story.split('\\n')[0].replace('Title: ', '') }}",
            "Status": "=pipeline complete",
            "Total duration(ms)": "={{ $json.total_duration_ms }}",
            "QA report": "={{ $json.qa_report }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Run ID",
              "displayName": "Run ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Story",
              "displayName": "Story",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "QA report",
              "displayName": "QA report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total duration(ms)",
              "displayName": "Total duration(ms)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fe9e48a2-0bbd-4dcd-bdfb-36e030d92324",
      "name": "Save Report to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -272,
        128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h82ESckvqdxqI0UJ",
          "name": "Cloud account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OtgKd3duL1Qdh1IEV9zTRcVOGIDhXny75Z4DtcMaaaI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Metrics",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Run ID": "={{ $json.run_id }}",
            "Timestamp": "={{ $now.toISO() }}",
            "Story": "={{ $('Set Story Input').item.json.story.split('\\n')[0].replace('Title: ', '') }}",
            "Total duration(ms)": "={{ $json.total_duration_ms }}",
            "Consolidator metrics": "={{ $json.consolidator_metrics }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Run ID",
              "displayName": "Run ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Story",
              "displayName": "Story",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total duration(ms)",
              "displayName": "Total duration(ms)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Consolidator metrics",
              "displayName": "Consolidator metrics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f0450f1e-ab3e-40ac-bdb7-9180436c12b2",
      "name": "Save Metrics to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -272,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h82ESckvqdxqI0UJ",
          "name": "Cloud account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "priyanairslearn@gmail.com",
        "subject": "=🔍 QA Report Ready for Review — {{ $('Set Story Input').item.json.story.split('\\n')[0].replace('Title: ', '') }}",
        "emailType": "text",
        "message": "=Your QA report is ready for review.\n\nStory: {{ $('Set Story Input').item.json.story.split('\\n')[0].replace('Title: ', '') }}\nRun ID: {{ $json.run_id }}\nTotal time: {{ Math.round($json.total_duration_ms / 1000) }} seconds\n\n---\n\n{{ $json.qa_report }}\n\n---\n\nReply APPROVE to confirm this report or REJECT with your feedback.",
        "options": {}
      },
      "id": "d2bdae3b-a92b-457e-9ad8-901fc278d028",
      "name": "HITL Email to QA Lead",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -272,
        512
      ],
      "webhookId": "36e67d07-68a7-4a3f-bd3b-80ef9ebb285d",
      "credentials": {
        "gmailOAuth2": {
          "id": "JbaZPdxQD2f0uPtW",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OtgKd3duL1Qdh1IEV9zTRcVOGIDhXny75Z4DtcMaaaI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Errors",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Error": "=Gmail send failed — report saved to Sheets · check Reports tab",
            "Run ID": "={{ $json.run_id }}",
            "Node": "=Gmail Fallback"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Node",
              "displayName": "Node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Run ID",
              "displayName": "Run ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cf8e7ef2-9518-4c64-b908-54705f2685a8",
      "name": "Gmail Fallback Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -48,
        512
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h82ESckvqdxqI0UJ",
          "name": "Cloud account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a54a8793-6cf6-4b94-9f6a-9bcd52e584a1",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -4592,
        736
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1OtgKd3duL1Qdh1IEV9zTRcVOGIDhXny75Z4DtcMaaaI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Errors",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Error": "={{ $json.error?.message || 'Unknown pipeline error' }}",
            "Node": "={{ $json.error?.node?.name || 'Unknown node' }}",
            "Run ID": "={{ $('Set Story Input').item?.json?.run_id || 'unknown' }}"
          }
        },
        "options": {}
      },
      "id": "781fa67c-eb0b-424c-a497-694417f82f28",
      "name": "Global Error Logger",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -4368,
        736
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h82ESckvqdxqI0UJ",
          "name": "Cloud account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "QA Orchestrator — Submit a Story",
        "formDescription": "Paste your story details below. Your QA report will be generated and emailed within 2 minutes.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Story title",
              "requiredField": true
            },
            {
              "fieldLabel": "Story description",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Acceptance criteria",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Tech stack"
            },
            {
              "fieldLabel": "Priority",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "High"
                  },
                  {
                    "option": "Medium"
                  },
                  {
                    "option": "Low"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "✅ Your story has been submitted successfully!\n\nYour QA report is being generated and will be emailed to your QA lead within 2 minutes.\n\nYou can close this page or submit another story."
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -4656,
        416
      ],
      "id": "2fbafde3-9327-4ea5-8b07-bba323bc8fb7",
      "name": "On form submission",
      "webhookId": "e5f067f1-17c3-4dae-9c44-caa32e04db6b"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Set Story Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Story Input": {
      "main": [
        [
          {
            "node": "Validator Start Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validator Start Time": {
      "main": [
        [
          {
            "node": "Story Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Validator": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Orchestrator Start Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FAIL Email to Developer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Start Time": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "Orchestrator Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Metrics": {
      "main": [
        [
          {
            "node": "Functional Start Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Security Start Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Automation Start Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Functional Start Time": {
      "main": [
        [
          {
            "node": "Functional Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Functional Agent": {
      "main": [
        [
          {
            "node": "Functional Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Functional Metrics": {
      "main": [
        [
          {
            "node": "Merge Agent Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automation Start Time": {
      "main": [
        [
          {
            "node": "Automation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automation Agent": {
      "main": [
        [
          {
            "node": "Automation Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automation Metrics": {
      "main": [
        [
          {
            "node": "Merge Agent Outputs",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Security Start Time": {
      "main": [
        [
          {
            "node": "Security Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Agent": {
      "main": [
        [
          {
            "node": "Security Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Metrics": {
      "main": [
        [
          {
            "node": "Merge Agent Outputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Agent Outputs": {
      "main": [
        [
          {
            "node": "Consolidator Start Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidator Start Time": {
      "main": [
        [
          {
            "node": "Consolidator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidator Agent": {
      "main": [
        [
          {
            "node": "Consolidator Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidator Metrics": {
      "main": [
        [
          {
            "node": "Save Report to Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Metrics to Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "HITL Email to QA Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HITL Email to QA Lead": {
      "main": [
        [
          {
            "node": "Gmail Fallback Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Global Error Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0d63e4d0-6afa-4b68-a0d7-b9b3a0910527",
  "meta": {
    "instanceId": "bef93948836abcc166162fad0fc847baa9c3b57328e6e2e3730181e1c47525bd"
  },
  "nodeGroups": [],
  "id": "4uJksUWY4oAzHMoR",
  "tags": []
}